body {
    background-color: floralwhite;
}

input {
    width: 50%;
    text-align: center;
    background-color: rgb(194, 180, 163);
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    height: 40px;
    font-size: 20px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

input.animation {
    animation: inputAnimation ease-in-out 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

input:hover:disabled {
    cursor: default;
}

input:hover:enabled {
    background-color: rgb(190, 162, 128);
    cursor: pointer;
}

button {
    padding: 8px;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0.06em;
    background-color: rgb(194, 180, 163);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
    transition: transform 500ms ease-in-out;
}

button:hover:enabled {
    background-color: rgb(190, 162, 128);
    transform: scale(1.05);
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.timer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 8px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(194, 180, 163);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.field {
    display: flex;
    width: calc((350px - 50px) / 4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.08em;
    text-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
}

.value.active {
    animation: fadeInAnimation ease-in-out 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.label {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

@keyframes fadeInAnimation {
    100% {
        opacity: 1;
        transform: scale(1.0);
    }

    0% {
        opacity: 0;
        transform: scale(1.3);
    }
}

@keyframes inputAnimation {
    100% {
        opacity: 1;
        transform: scale(1.0);
    }

    0% {
        opacity: 0;
        transform: scale(1.08);
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    }
}

@media screen and (min-width: 768px) {
    input {
        width: auto;
        height: 52px;
        font-size: 28px;
    }

    button {
        width: 120px;
        padding: 10px;
        font-size: 26px;
    }

    .container {
        padding: 0 15px;
        justify-content: flex-start;
        gap: 15px;
    }

    .timer {
        padding: 15px 20px;
        gap: 15px;
    }

    .field {
        width: calc((520px - 85px) / 4);
    }

    .value {
        font-size: 50px;
    }

    .label {
        font-size: 26px;
    }
}